body {
    background-color: black;
    color: white;
    font-family: var(--font-dm-sans);
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    width: 315px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar_navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 10px 0px 0px 10px;
}

.sidebar nav ul {
    margin-top: 10px;
    padding: 0 10px 10px 10px;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #B3B3B3;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.sidebar nav ul li a:hover {
    color: #fff;
}

.sidebar nav ul li a:first-child {
    font-size: 20px;
}

.titulo {
    margin-left: 12px;
    font-size: 16px;
}

.logo img {
    width: 80px;
}

.biblioteca {
    margin-top: 8px;
    background-color: #121212;
    border-radius: 8px;
    height: 59vh;
    flex-direction: column;
}

.biblioteca__navigation {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.biblioteca div header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px 16px;
    font-size: 16px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #b3b3b3;
}

.biblioteca div header div {
    cursor: pointer;
    transition: 1s;
}

.biblioteca div header div:hover {
    color: #fff;
}

.biblioteca .plus {
    padding: 10px;
    transition: 1s;
    border-radius: 30px;
    cursor: pointer;
}

.biblioteca .plus:hover {
    background-color: #1f1f1f;
    color: white;
}

.biblioteca__navigation .filtro {
    display: flex;
    align-items: center;
    margin: 8px 16px;
    color: #b3b3b3;
    font-size: 14px;
    gap: 8px;
}

.biblioteca__navigation .filtro a {
    padding: 8px 10px;
    cursor: pointer;
    background-color: #1f1f1f;
    border-radius: 30px;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: 1s;
}

.biblioteca__navigation .filtro a:hover {
    background-color: #303030;
}

.biblioteca__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 12px;
    padding: 8px 16px;
    width: 22.5em;
}

.biblioteca__search div {
    padding: 10px;
    cursor: pointer;
}

.biblioteca__search div:first-child {
    font-size: 14px;
}

.biblioteca__search div:first-child:hover {
    background-color: #1f1f1f;
    border-radius: 20px;
}

.biblioteca__search div:last-child:hover {
    color: #fff;
    font-size: 14px;
}

.biblioteca__content {
    max-height: 240px;
    overflow-y: hidden;
}

.biblioteca__content:hover {
    overflow-y: scroll;
}

.biblioteca__content::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

.biblioteca__content::-webkit-scrollbar-thumb {
    background: #878787;
    transition: 2s;
}

.biblioteca__playlists .card {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.biblioteca__playlists .card img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
}

.biblioteca__playlists .card:hover {
    background-color: #1f1f1f;
    border-radius: 10px;
}

.biblioteca__playlists .card div {
    flex-direction: row;
}

.biblioteca__playlists .card div div {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    align-items: center;
}

.biblioteca__playlists .card div div p {
    color: #B3B3B3;
    font-size: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,#af2896,#509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;
    height: 60px;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
    width: 100%;
}

.footer__content .footer__text div:first-child{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__content .free_subscribe{
    padding: 16px 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    margin-right: 2em;
}